<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--#include virtual="/ssi/content-header-h1.html"-->

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>GM功能</li>
                <li>游戏服管理</li>
                <li class="active">游戏服列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">游戏服列表</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block btn-flat" data-toggle="modal"
                                    data-target="#create-server-modal">添加游戏服</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 phone-scrollable">
                            <my-vuetable
                                    :table-url="serverListApi"
                                    :table-fields="tableFields"
                                    :callbacks="tableCallbacks"
                            ></my-vuetable>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-server-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">编辑游戏服</h4>
                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" @submit.prevent="editServer">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服id</label>
                                    <div class="col-md-9">
                                        <input type="number" min="0" class="form-control" disabled  required v-model="activatedRow.id">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">地区</label>
                                    <div class="col-md-9">
                                        <v-select required v-model="activatedRow.area_value" :searchable="false" :options="_.values(areaList)"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">区服名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.area_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服地址列表</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" v-model.trim="activatedRow.address_list"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服默认地址</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.host">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服端口</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="activatedRow.port">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">http端口</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="activatedRow.http_port">
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-md-3 control-label">开服时间</label>
                                    <div class="col-md-9">
                                        <my-date-picker required v-model="activatedRow.open_time"></my-date-picker>
                                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">导量权重</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="activatedRow.rate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服状态</label>
                                    <div class="col-md-9">
                                        <v-select v-model="activatedRow.server_status" :searchable="false" :options="serverStatusMap"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服状态消息</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" v-model.trim="activatedRow.status_msg"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库主机</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model.trim="activatedRow.h_mysql_host" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库端口</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" v-model.trim="activatedRow.h_mysql_port" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库用户名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model.trim="activatedRow.h_mysql_user" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库密码</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" v-model.trim="activatedRow.h_mysql_passwd" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库主机</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.mysql_host" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库端口</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="activatedRow.mysql_port" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库用户名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.mysql_user" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库密码</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" v-model.trim="activatedRow.mysql_passwd" placeholder="如不修改请留空">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服数据库名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.mysql_data_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服日志库名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="activatedRow.mysql_log_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">服务器类型</label>
                                    <div class="col-md-9">
                                        <v-select v-model="activatedRow.server_type" :searchable="false" :options="serverTypeMap"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否展示</label>
                                    <div class="col-md-9">
                                        <v-select v-model="activatedRow.can_see_value" :searchable="false" :options="yesOrNoOptions"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否执行统计脚本</label>
                                    <div class="col-md-9">
                                        <v-select v-model="activatedRow.is_cron_value" :searchable="false" :options="yesOrNoOptions"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="create-server-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">新建游戏服</h4>
                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" @submit.prevent="createServer">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服id</label>
                                    <div class="col-md-9">
                                        <input type="number" min="0" required class="form-control" v-model="createServerData.id" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">地区</label>
                                    <div class="col-md-9">
                                        <v-select v-model="createServerData.area_value" :searchable="false" :options="_.values(areaList)"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">区服名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.area_name" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.name" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服地址列表</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" v-model.trim="createServerData.address_list"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服默认地址</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.host" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服端口</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="createServerData.port" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">http端口</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="createServerData.http_port" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-md-3 control-label">开服时间</label>
                                    <div class="col-md-9">
                                        <my-date-picker required v-model="createServerData.open_time"></my-date-picker>
                                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">导量权重</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" required v-model.trim="createServerData.rate" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服状态</label>
                                    <div class="col-md-9">
                                        <v-select required v-model="createServerData.server_status" :searchable="false" :options="serverStatusMap"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服状态消息</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" v-model.trim="createServerData.status_msg"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库主机</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model.trim="createServerData.h_mysql_host" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库端口</label>
                                    <div class="col-md-9">
                                        <input type="number" min="0" class="form-control" v-model.trim="createServerData.h_mysql_port" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库用户名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model.trim="createServerData.h_mysql_user" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql主库密码</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" v-model.trim="createServerData.h_mysql_passwd" placeholder="选填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库主机</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.mysql_host" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库端口</label>
                                    <div class="col-md-9">
                                        <input type="number" min="0" class="form-control" required v-model.trim="createServerData.mysql_port" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库用户名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.mysql_user" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">mysql从库密码</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" required v-model.trim="createServerData.mysql_passwd" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服数据库名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.mysql_data_name" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">游戏服日志库名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required v-model.trim="createServerData.mysql_log_name" placeholder="必填">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">服务器类型</label>
                                    <div class="col-md-9">
                                        <v-select v-model="createServerData.server_type" :searchable="false" :options="serverTypeMap"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否展示</label>
                                    <div class="col-md-9">
                                        <v-select v-model="createServerData.can_see_value" :searchable="false" :options="yesOrNoOptions"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否执行统计脚本</label>
                                    <div class="col-md-9">
                                        <v-select v-model="createServerData.is_cron_value" :searchable="false" :options="yesOrNoOptions"></v-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="delete-server-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center">
                                确定删除游戏服 <span class="text-danger">{{ activatedRow.id }}</span>
                            </h3>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-flat btn-danger btn-lg pull-left" @click="deleteServer">
                                删除
                            </button>
                            <button class="btn btn-flat btn-success btn-lg" data-dismiss="modal">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/gm/server/list.js"></script>
</body>
</html>