<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>GM功能</li>
                <li>AI管理</li>
                <li class="active">AI列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right">
                            <li class="pull-left header"><i class="fa fa-inbox"></i> AI管理</li>
                            <li><a href="#ai-dispatch-list" data-toggle="tab" @click="aiDispatchListButtonAction">AI调度列表</a></li>
                            <li class="active"><a href="#ai-list" data-toggle="tab" @click="aiListButtonAction">AI列表</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="tab-pane" id="ai-dispatch-list">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-block btn-primary btn-flat" data-toggle="modal"
                                                data-target="#add-ai-modal">
                                            添加AI
                                        </button>
                                    </div>

                                    <div class="col-md-7 col-md-offset-3" v-cloak>
                                        <form class="form-inline pull-right" method="GET" action="#" @submit.prevent="searchAiDispatchList">
                                            <div class="form-group">
                                                <div class="input-group" >
                                                    <span class="input-group-addon">区服</span>
                                                    <select class="form-control" v-model="searchAiFormData.db">
                                                        <option  v-for="server in serverList" :value="server.id">
                                                            {{ server.name }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">游戏</span>
                                                    <select class="form-control" v-model="searchAiFormData.game_type">
                                                        <option value="">全部游戏</option>
                                                        <option v-for="type in gameType" :value="type">
                                                            {{ type }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">状态</span>
                                                    <select class="form-control" v-model="searchAiFormData.status">
                                                        <option value="">全部状态</option>
                                                        <option value="开启">开启</option>
                                                        <option value="关闭">关闭</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-flat" type="submit">提交</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row phone-scrollable">
                                    <div class="col-md-12">
                                        <my-vuetable
                                                :table-url="aiDispatchTableUrl"
                                                :table-fields="aiDispatchTableFields"
                                                table-track-by="id"
                                        >
                                        </my-vuetable>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="ai-list">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-flat" data-toggle="modal"
                                                data-target="#add-ai-modal">
                                            添加AI
                                        </button>
                                        <button class="btn btn-primary btn-flat" data-toggle="modal"
                                                data-target="#mass-edit-ai-modal">
                                            批量编辑
                                        </button>
                                        <button class="btn btn-primary btn-flat" data-toggle="modal"
                                                data-target="#dispatch-ai-modal">
                                            添加调度
                                        </button>
                                    </div>

                                    <div class="col-md-7 col-md-offset-1" v-cloak>
                                        <form class="form-inline pull-right" method="GET" action="#" @submit.prevent="searchAiList">
                                            <div class="form-group">
                                                <div class="input-group" >
                                                    <span class="input-group-addon">区服</span>
                                                    <select class="form-control" v-model="searchAiFormData.db">
                                                        <option  v-for="server in serverList" :value="server.id">
                                                            {{ server.name }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">游戏</span>
                                                    <select class="form-control" v-model="searchAiFormData.game_type">
                                                        <option value="">全部游戏</option>
                                                        <option v-for="type in gameType" :value="type">
                                                            {{ type }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">状态</span>
                                                    <select class="form-control" v-model="searchAiFormData.status">
                                                        <option value="">全部状态</option>
                                                        <option v-for="status in statusType" :value="status">
                                                            {{ status }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-flat" type="submit">提交</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row phone-scrollable">
                                    <div class="col-md-12">
                                        <my-vuetable
                                                :table-url="aiTableUrl"
                                                :table-fields="aiTableFields"
                                                :table-track-by="aiTableTrackBy"
                                        >
                                        </my-vuetable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 编辑AI模态框 -->
            <div id="edit-ai-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">AI编辑</h4>
                        </div>

                        <form role="form" class="from-horizontal" method="POST" action="#" @submit.prevent="editAi">
                            <div class="modal-body">
                                <div class="row" style="margin-top: 0px;">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label text-center">id</label>
                                        <div class="col-md-8">
                                            <input type="text" disabled class="form-control" v-model="activatedRow.rid">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label text-center">昵称</label>
                                        <div class="col-md-8">
                                            <input type="text" required class="form-control" v-model="activatedRow.nick">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label text-center">钻石</label>
                                        <div class="col-md-8">
                                            <input type="number" min="0" required class="form-control" v-model="activatedRow.diamond">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label text-center">兑换券</label>
                                        <div class="col-md-8">
                                            <input type="number" min="0" required class="form-control" v-model="activatedRow.crystal">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label text-center">经验</label>
                                        <div class="col-md-8">
                                            <input type="number" min="0" required class="form-control" v-model="activatedRow.exp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="box">
                                    <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                    <div class="overlay" v-if="loading"><i class="fa fa-refresh fa-spin"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 编辑AI调度模态框 -->
            <div id="edit-ai-dispatch-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">AI调度编辑</h4>
                        </div>

                        <form role="form" class="from" method="POST" action="#" @submit.prevent="editAiDispatch">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>主题</label>
                                    <input type="text" class="form-control" required v-model="activatedRow.theme">
                                </div>
                                <div class="form-group">
                                    <label>ai数量</label>
                                    <input type="text" disabled class="form-control" v-model="activatedRow.num">
                                </div>
                                <div class="form-group">
                                    <label>携带金币</label>
                                    <!--TODO-->
                                    <input type="text" placeholder="xxx.xxx" required class="form-control" v-model="activatedRow.golds">
                                </div>
                                <div class="form-group">
                                    <label>游戏类型</label>
                                    <select class="form-control" required v-model="activatedRow.game_type">
                                        <option v-for="type in gameType" :value="type">
                                            {{ type }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>房间类型</label>
                                    <select class="form-control" required v-model="activatedRow.room_type">
                                        <option v-for="type in roomType" :value="type">
                                            {{ type }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>开始日期</label>
                                    <my-date-picker placeholder="开始日期" required date-format="YYYY-MM-DD" v-model="activatedRow.do_start_date"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束日期</label>
                                    <my-date-picker placeholder="结束日期" required date-format="YYYY-MM-DD" v-model="activatedRow.do_end_date"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <my-date-picker placeholder="开始时间" required date-format="HH:mm:ss" v-model="activatedRow.do_start_time"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <my-date-picker placeholder="结束时间" required date-format="HH:mm:ss" v-model="activatedRow.do_end_time"></my-date-picker>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="activatedRow.is_all_day">是否全天
                                    </label>
                                </div>
                            </div>

                            <div class="box">
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                </div>
                                <div class="overlay" v-if="loading"><i class="fa fa-refresh fa-spin"></i></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 添加AI模态框 -->
            <div id="add-ai-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">添加AI</h4>
                        </div>

                        <div class="modal-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs pull-right">
                                    <li><a href="#quick-ai-add" data-toggle="tab">一键添加</a></li>
                                    <li><a href="#mass-ai-add" data-toggle="tab">批量添加</a></li>
                                    <li class="active"><a href="#single-ai-add" data-toggle="tab">单个添加</a></li>
                                    <li class="pull-left header"><i class="fa fa-user-secret"></i> AI</li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="chart tab-pane" id="quick-ai-add">
                                        <form role="form" method="POST" action="#" @submit.prevent="quickAddAi">
                                            <div class="form-group">
                                                <label>添加数量</label>
                                                <input type="number" min="1" max="15" required placeholder="生成ai数量，最多15" class="form-control" v-model="quickAddAiFormData.num">
                                            </div>
                                            <div class="form-group">
                                                <label>钻石</label>
                                                <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="quickAddAiFormData.diamond">
                                            </div>
                                            <div class="form-group">
                                                <label>兑换券</label>
                                                <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="quickAddAiFormData.lottery">
                                            </div>
                                            <div class="form-group">
                                                <label>经验</label>
                                                <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="quickAddAiFormData.exp">
                                            </div>
                                            <div class="form-group">
                                                <label>选择区服</label>
                                                <select class="form-control" required v-model="quickAddAiFormData.server_id">
                                                    <option v-for="(server,index) in serverList" :value="server.id">
                                                        {{ server.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="chart tab-pane" id="mass-ai-add">
                                        <form role="form" method="POST" action="#" @submit.prevent="addMassAi">
                                            <div class="form-group">
                                                <label>昵称</label>
                                                <input type="text" required placeholder="xxx,xxx,xxx..." class="form-control" v-model="addMassAiFormData.nick">
                                            </div>
                                            <div class="form-group">
                                                <label>钻石</label>
                                                <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="addMassAiFormData.diamond">
                                            </div>
                                            <div class="form-group">
                                                <label>兑换券</label>
                                                <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="addMassAiFormData.lottery">
                                            </div>
                                            <div class="form-group">
                                                <label>经验</label>
                                                <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="addMassAiFormData.exp">
                                            </div>
                                            <div class="form-group">
                                                <label>选择区服</label>
                                                <select class="form-control" required v-model="addMassAiFormData.server_id">
                                                    <option v-for="(server,index) in serverList" :value="server.id">
                                                        {{ server.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="chart tab-pane active" id="single-ai-add">
                                        <form role="form" method="POST" action="#" @submit.prevent="addSingleAi">
                                            <div class="form-group">
                                                <label>昵称</label>
                                                <input type="text" required class="form-control" v-model="addSingleAiFormData.nick">
                                            </div>
                                            <div class="form-group">
                                                <label>钻石</label>
                                                <input type="number" min="0" required class="form-control" v-model="addSingleAiFormData.diamond">
                                            </div>
                                            <div class="form-group">
                                                <label>兑换券</label>
                                                <input type="number" min="0" required class="form-control" v-model="addSingleAiFormData.lottery">
                                            </div>
                                            <div class="form-group">
                                                <label>经验</label>
                                                <input type="number" min="0" required class="form-control" v-model="addSingleAiFormData.exp">
                                            </div>
                                            <div class="form-group">
                                                <label>选择区服</label>
                                                <select class="form-control" required v-model="addSingleAiFormData.server_id">
                                                    <option v-for="(server,index) in serverList" :value="server.id">
                                                        {{ server.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>>
            </div>

            <!-- 批量编辑AI模态框 -->
            <div id="mass-edit-ai-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">批量编辑AI</h4>
                        </div>

                        <form role="form" class="from-horizontal" method="PUT" action="#" @submit.prevent="massEditAi">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>选中的AI</label>
                                    <input type="text" disabled class="form-control" :value="selectedAiIds">
                                </div>
                                <div class="form-group">
                                    <label>AI数量</label>
                                    <input type="text" disabled class="form-control" :value="selectedAiAmount">
                                </div>
                                <div class="form-group">
                                    <label>昵称</label>
                                    <input type="text" placeholder="xxx,xxx(留空不编辑)" class="form-control" v-model="massEditAiFormData.nick">
                                </div>
                                <div class="form-group">
                                    <label>钻石数量区间</label>
                                    <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="massEditAiFormData.diamond">
                                </div>
                                <div class="form-group">
                                    <label>兑换券数量区间</label>
                                    <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="massEditAiFormData.lottery">
                                </div>
                                <div class="form-group">
                                    <label>经验区间</label>
                                    <input type="text" required placeholder="xxx,xxx" class="form-control" v-model="massEditAiFormData.exp">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="box">
                                    <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                    <div class="overlay" v-if="loading"><i class="fa fa-refresh fa-spin"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>>
            </div>

            <!-- 添加AI调度模态框 -->
            <div id="dispatch-ai-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">AI调度</h4>
                        </div>

                        <form role="form" class="from" method="POST" action="#" @submit.prevent="addAiDispatch">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>主题</label>
                                    <input type="text" required class="form-control" v-model="addAiDispatchFormData.theme">
                                </div>
                                <div class="form-group">
                                    <label>ai数量</label>
                                    <input type="text" disabled class="form-control" :value="selectedAiAmount">
                                </div>
                                <div class="form-group">
                                    <label>携带金币</label>
                                    <input type="text" placeholder="xxx.xxx" required class="form-control" v-model="addAiDispatchFormData.gold">
                                </div>
                                <div class="form-group">
                                    <label>游戏类型</label>
                                    <select class="form-control" required v-model="addAiDispatchFormData.gameType">
                                        <option v-for="(type,index) in gameType" :value="index">
                                            {{ type }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>房间类型</label>
                                    <select class="form-control" required v-model="addAiDispatchFormData.roomType">
                                        <option v-for="(type,index) in roomType" :value="index">
                                            {{ type }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>开始日期</label>
                                    <my-date-picker placeholder="开始日期" required date-format="YYYY-MM-DD" v-model="addAiDispatchFormData.sdate"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束日期</label>
                                    <my-date-picker placeholder="结束日期" required date-format="YYYY-MM-DD" v-model="addAiDispatchFormData.edate"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <my-date-picker placeholder="开始时间" date-format="HH:mm:ss" v-model="addAiDispatchFormData.stime"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <my-date-picker placeholder="结束时间" date-format="HH:mm:ss" v-model="addAiDispatchFormData.etime"></my-date-picker>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="addAiDispatchFormData.isAllDay">是否全天
                                    </label>
                                </div>
                            </div>

                            <div class="box">
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                </div>
                                <div class="overlay" v-if="loading"><i class="fa fa-refresh fa-spin"></i></div>
                            </div>
                        </form>
                    </div>
                </div>>
            </div>

            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<link rel="stylesheet" type="text/css" href="/css/admin/gm/ai/list.css" />
<script src="/dist/webpack/admin/gm/ai/list.js"></script>
</body>
</html>